@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #EAEAEA;

}

.item {
  background-color: white;
  border-radius: 15px;
  width: 350px;
  height: 407px;
  top: 132px;
  left: 182px;
  margin: 0px 15px 35px 15px;
}

.logo {
  margin: 15px;
}

.headphones {
  margin: 25px 5px 5px 25px;
  color: grey;
}

main .item img {
  width: 219px;
  height: 237px;
  top: 147px;
  left: 247px;
  transition: transform 500ms ease;
}

main .item img:hover {
  transform: scale(1.05);
}

main h2 {
  margin: 10px 20px;
  font-size: 17px;
}

main img {
  margin: 20px 60px;
}

.add-to-cart {
  margin: 10px 20px;
}

.wrapper {
  width: 1280px;
  margin: 50px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-right: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
 opacity: 0.5;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
}

footer {
  text-align: center;
}

